@import 'tailwindcss';

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    @apply m-0 p-0 text-white font-['Oswald'];
  }

  html,
  body {
    @apply bg-[#343337];
  }

  header img {
    @apply flex items-center w-[15vh] h-[15vh] my-[5px] mx-auto rounded-full;
  }

  header nav {
    @apply text-center text-[1.5rem];
  }

  header nav ul {
    @apply list-none flex justify-center;
  }

  header nav ul li {
    @apply mx-[35px] my-[20px];
  }

  header nav ul li a {
    @apply no-underline p-[30px];
  }

  header nav ul li a:hover {
    @apply rounded-[10px] p-[13px] transition-colors duration-800 ease-in-out bg-white/60 text-[#343337];
  }

  .servicos-banner {
    @apply bg-cover bg-center;
     background-image:url('../images/servicos-banner.png');
  }

  .servicos-banner ul {
    @apply list-none p-[30px_15px] text-center bg-black/50;
  }

  .servicos-banner li {
    @apply my-[20px] text-[1.1rem];
  }

  .localizacao {
    @apply flex justify-around w-auto h-auto;
  }

  .localizacao div {
    @apply flex flex-col items-center w-[450px] h-auto p-[20px] mt-[5px];
  }

  iframe {
    @apply w-[450px] h-[250px] border-none rounded-[10px];
  }

  .localizacao div#l1 div.btn-l1 a,
  .localizacao div#l2 div.btn-l2 a {
    @apply no-underline p-[13px];
  }

  .localizacao div#l1 div.btn-l1 a:hover,
  .localizacao div#l2 div.btn-l2 a:hover {
    @apply rounded-[10px] p-[13px] transition-colors duration-800 ease-in-out bg-white/60 text-[#343337];
  }

  .sobre h2 {
    @apply text-center text-[1.5rem] mt-[30px] mb-[30px];
  }

  .sobre p {
    @apply text-center text-[1.2rem] mx-auto w-[80%];
  }

  .contato {
    @apply mt-[30px] flex justify-center items-center flex-col w-full h-auto;
  }

  .contato img {
    @apply w-[15vw] h-[15vh];
  }

  .contato a {
    @apply no-underline text-white;
  }

  .contato a:hover {
    @apply text-white/55 transition-colors duration-800 ease-in-out;
  }
}