body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

header {
  background-color: #111;
  color: white;
  padding: 20px 0px;
  text-align: center;
}

header menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

menu {
  margin-bottom: -5px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 10px 0;
}

header li {
  display: block;
}

header li a {
  display: inline-block;
  margin: 5px;
  font-size: 16px;
  padding: 10px 15px;
  text-align: center;
}

header li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.5s;
}

header li a:hover {
  background-color: #444;
}

#servicos-banner {
  padding: 110px 0px;
  position: relative;
  background-image: url('../image/fb6456ee-c321-4e45-8b1c-5a8457ec0076.png');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 40px;
  border-radius: 10px;
  color: white;
  max-width: 600px;
  text-align: left;
}

.overlay h2 {
  margin-bottom: 10px;
}

.overlay ul {
  padding-left: 20px;
  list-style: none;
}


#localizacao {
  padding: 40px;
  text-align: center;
}

.mapa-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px 0;
}

.mapa {
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.mapa iframe {
  width: 100%;
  height: 350px;
  border: none;
}

.botoes-mapa a {
  display: inline-block;
  margin: 10px 5px;
  padding: 10px 15px;
  background: #0070C9;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.5s;
}

.botoes-mapa a:hover {
  background-color: #1ebe5d;
}
.botoes-mapa a:active {
  background-color: #1ebe5d;
}

#sobre {
  padding: 40px;
  text-align: justify;
  
}
.sobre-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#contato {
  text-align: center;
  margin: 40px 0;
}

.contato-botoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.btn-whatsapp {
  background-color: #25D366;
  color: white;
  padding: 10px 20px;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.btn-whatsapp:hover {
  background-color: #1ebe5d;
}

.btn-instagram {
  background-color: #E1306C;
  color: white;
  padding: 10px 20px;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.btn-instagram:hover {
  background-color: #c72a5b;
}

footer {
 background-color: #c72a5b; 
  color: black;
  padding: 20px;
  text-align: center;
}

footer img {
  width: 50px;
  height: auto;  
}

footer a {
  color: black;
  text-decoration: none;
}